// custom SCSS (or CSS) goes here

.scrolling-div-class {
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks within the container */
  markdown: "1"
}

